 <nav class="nav">
      <%= link_to "Gamezense", root_path, class: "navbar-brand title", id: "logo" %>

      <ul>
        <li><%= link_to 'Contact', about_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to "Create Post", new_article_path %></li>
        <li><%= link_to 'Posts', articles_path %></li>
      </ul>
    </nav>
