<!DOCTYPE html>
<html>
  <head>
    <title>Gamezense</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <h1 class="title">Gamezense</h1>
    </nav>
    <%= yield %>
  </body>
</html>
